{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    
    <div id="sponsors">
        <a href="http://ceid.yale.edu/" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_mDomIK-2cK75_SPVe6lf2zr4MPFekNEno6ehI21-hWUsWax4" alt="" width="200px">
        </a>

        <a href="https://www.city.yale.edu/" target="_blank">
            <img src="https://static1.squarespace.com/static/5a04b3bcedaed85148f6c11c/t/5b648bb06d2a73ddb1dad7c0/1537044401224/?format=1500w" alt="" width="200px">
        </a>

        <a href="https://www.google.com" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2000px-Google_%22G%22_Logo.svg.png" alt="" width="200px">
        </a>

        <a href="https://www.google.com" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2000px-Google_%22G%22_Logo.svg.png" alt="" width="200px">
        </a>
    </div>
{% endblock %}
