<!DOCTYPE html>

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet"/>
        <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/> -->

        <link href="/static/styles.css" rel="stylesheet"/>

        <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script> -->
        <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <title>{% block title %}{% endblock %}</title>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="blue">YaleBulldogHacks</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="dropdown my-tabs">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </button>
                        <div class="dropdown-menu drops" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">FAQ</a>
                            <a class="dropdown-item" href="#sponsors">Sponsors</a>
                            <a class="dropdown-item" href="#">Board</a>
                            <a class="dropdown-item" href="#">Speakers</a>
                            <a class="dropdown-item" href="#">Judges</a>
                        </div>
                    </li>
                    <li class="dropdown my-tabs">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Logistics
                        </button>
                        <div class="dropdown-menu drops" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Event Details</a>
                            <a class="dropdown-item" href="#">Past Editions</a>
                            <a class="dropdown-item" href="#">Schedule</a>
                        </div>
                    </li>
                    <li class="dropdown my-tabs">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hack
                        </button>
                        <div class="dropdown-menu drops" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Sample Hack</a>
                            <a class="dropdown-item" href="#">Hardware + Software Facts</a>
                            <a class="dropdown-item" href="#">CEID Resources</a>
                        </div>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#">
                            <button class="btn btn-light" type="button" aria-haspopup="true" aria-expanded="false">
                                FAQ
                            </button>
                        </a>
                    </li> -->

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a href="#">
                            <button class="btn btn-light btn-blue" type="button" aria-haspopup="true" aria-expanded="false">
                                Register
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

    </head>

    <body>
        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="footer">
            <div class="container">
                <p class="pull-left foot-text">© 2018 YaleBulldogHacks</p>
                <div class="pull-right">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/yalerussianchorus" target="_blank">
                                <img class="social" src="http://res.cloudinary.com/yale-russian-chorus/image/upload/c_scale,w_40/v1518243945/Social/facebook.png">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/yalerussianchorus/" target="_blank">
                                <img class="social" src="http://res.cloudinary.com/yale-russian-chorus/image/upload/c_scale,w_40/v1518243945/Social/insta.png">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/yalerussianchorus" target="_blank">
                                <img class="social" src="http://res.cloudinary.com/yale-russian-chorus/image/upload/c_scale,w_40/v1518243945/Social/youtube.png">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/yalerussianchorus" target="_blank">
                                <img class="social" src="http://res.cloudinary.com/yale-russian-chorus/image/upload/c_scale,w_40/v1518243945/Social/twitter.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
